{% extends "base.html" %}
{% block title %}Beranda - Gucheez{% endblock %}

{% block content %}
<header id="home" class="text-center text-white d-flex align-items-center" style="height: 100vh; position: relative; overflow: hidden;">
  <!-- Background Image Container -->
  <div class="position-absolute top-0 start-0 w-100 h-100" style="z-index: -1; overflow: hidden;">
    <img src="/static/foto/no layanan.jpg" 
         alt="background" 
         class="img-fluid" 
         style="width: 100%; height: auto; object-fit: cover;">
  </div>
</header>



{% endblock %}
