{% extends "base.html" %}
{% block title %}Kontak - Gucheez{% endblock %}
{% block content %}
<section id="contact" class="py-5">
    <div class="container text-center">
        <h3 class="mb-4">Kontak Kami</h3>
        <div class="row justify-content-center">
            <!-- Informasi Kontak -->
            <div class="col-md-6 mb-4">
                <div class="card p-4">
                    <h5 class="card-title">Informasi Kontak</h5>
                    <p><i class="bi bi-geo-alt-fill text-primary"></i>Babakan, RT.4/RW.3, Babakan, Tuwel, Kec. Bojong, Kabupaten Tegal, Jawa Tengah 52465</p>
                    <p><i class="bi bi-envelope-fill text-primary"></i> Email: <a href="mailto:info@mountaim.com">wisnumaulana2208@gmail.com</a></p>
                    <p><i class="bi bi-telephone-fill text-primary"></i> Telepon: <a href="tel:082133979919">085877351241</a></p>
                </div>
            </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}

