{% extends "base.html" %}
{% block title %}Layanan - Gucheez{% endblock %}
{% block content %}
<section id="layanan" class="py-5">
    <div class="container text-center">
        <h2 class="mb-4">Layanan Kami</h2>
        <p class="mb-5"> Kami menawarkan catering untuk acara-acara khusus,Kami menawarkan pengiriman ke tempat
            Anda,Kami juga siap COD satu menit sampai</p>

        <!-- Bagian Card Layanan -->
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" style="row-gap: 2rem;">
            <div class="col">
                <div class="card h-100 shadow border-0">
                    <img src="/static/foto/Kurma Sukari.jpg" class="card-img-top" alt="Pemandu Pendakian"
                        style="object-fit: cover; height: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">Catering</h5>
                        <p class="card-text">Menyediakan Catering Untuk Acara Khusus.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow border-0">
                    <img src="/static/foto/pengiriman.jpg" class="card-img-top" alt="Transportasi"
                        style="object-fit: cover; height: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">Pengiriman Kemana Saja</h5>
                        <p class="card-text">menawarkan berbagai pilihan waktu pengiriman, mulai dari pengiriman cepat
                            (same-day delivery) hingga pengiriman reguler dengan estimasi waktu yang lebih lama.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow border-0">
                    <img src="/static/foto/cod.png" class="card-img-top" alt="Transportasi"
                        style="object-fit: cover; height: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">COD</h5>
                        <p class="card-text"> Pembayaran bisa dilakukan dengan uang tunai atau melalui metode pembayaran
                            lain yang disepakati, seperti kartu debit E-Wallet.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bagian Tabel Produk -->
        <!-- <div class="mt-5">
            <h3>Produk Kami</h3>
            <table border="1" style="width: 100%; margin-top: 20px; border-collapse: collapse; text-align: left;">
                <thead>
                    <tr>
                        <th style="padding: 10px; background-color: #f2f2f2;">Nama</th>
                        <th style="padding: 10px; background-color: #f2f2f2;">Deskripsi</th>
                        <th style="padding: 10px; background-color: #f2f2f2;">Harga</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td style="padding: 10px;">Gucheez rasa pisang coklat</td>
                        <td style="padding: 10px;">Perpaduan antara nanas madu dengan pisang coklat yang lumer</td>
                        <td style="padding: 10px;">Rp 35.000</td>
                    </tr>
                    <tr>
                        <td style="padding: 10px;">Gucheez kombinasi 4 rasa</td>
                        <td style="padding: 10px;">Perpaduan 4 rasa: nanas madu, pisang coklat, pisang keju, coklat keju
                        </td>
                        <td style="padding: 10px;">Rp 40.000</td>
                    </tr>
                    <tr>
                        <td style="padding: 10px;">Gucheez coklat keju</td>
                        <td style="padding: 10px;">Perpaduan nanas madu, keju, dan coklat lumer</td>
                        <td style="padding: 10px;">Rp 35.000</td>
                    </tr>

                </tbody>
            </table>
        </div> -->
    </div>
</section>
{% endblock %}