{% extends "base.html" %}

{% block title %}Gucheez{% endblock %}

{% block content %}
<link rel="stylesheet" href="static/style.css">
<section id="layanan" class="py-5 bg-light">
    <div class="container text-center">
        <h2 class="mb-4">Produk Kami</h2>
        <p class="mb-5 text-muted">Kami menyediakan berbagai aneka macam kurma, Silahkan dipilih sesuai selera anda.</p>

        <div class="product-cards">
            <div class="product-card">
                <img src="static/foto/Ajwa Madinah.jpeg" alt="Product 1">
                <h3>Ajwa Madinah</h3>
                <p>Ajwa Madinah
                    Kurma hitam khas Madinah dengan rasa manis lembut dan aroma rempah. Disebut juga Kurma Nabi, kaya
                    manfaat untuk
                    kesehatan.</p>
            </div>
            <div class="product-card">
                <img src="static/foto/Kurma Tunisia Madu.jpeg" alt="Product 2">
                <h3>Tunisia madu</h3>
                <p>Kurma keemasan asal Tunisia, rasanya manis seperti madu dengan tekstur lembut. Cocok untuk camilan
                    sehat.</p>
            </div>
            <div class="product-card">
                <img src="static/foto/Ruthob lidya.jpeg" alt="Product 3">
                <h3>Ruthob Lidya</h3>
                <p>Kurma muda bertekstur lembut dan juicy. Rasanya manis segar, nikmat disajikan dingin.</p>
            </div>
            <div class="product-card">
                <img src="static/foto/Sukari.jpeg" alt="Product 3">
                <h3>Sukari</h3>
                <p>Kurma berwarna cokelat terang dengan rasa sangat manis dan tekstur lumer. Dijuluki Kurma Ratu.</p>
            </div>
        </div>
</section>

<!-- Tabel Daftar Produk -->
<!-- <div class="container py-5">
    <h2 class="text-center mb-4">Daftar Produk</h2> -->

<!-- Pencarian Produk -->
<!-- <div class="mb-3">
        <input type="text" id="searchProduct" class="form-control" placeholder="Cari produk...">
    </div> -->

<!-- <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Nama Produk</th>
                    <th>Gambar</th>
                    <th>Harga</th>
                    <th>Kategori</th>
                    <th>Stok</th>
                </tr>
            </thead>
            <tbody>
                {% for item in produk %}
                <tr>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[1] }}</td>
                    <td><img src="{{ item[2] }}" alt="{{ item[1] }}" style="width: 50px; height: 50px; object-fit: cover;"></td>
                    <td>{{ item[3] }}</td>
                    <td>{{ item[4] }}</td>
                    <td>{{ item[5] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div> -->

{% endblock %}